/*.nav-bar {
  overflow: hidden;
  position: sticky;
  /*top: -150px;
  width: 100%;
}*/

.fa-camera-retro {
  margin-top: 10px;
  float: left;
  width: 90px;
  height: 55px;
}

.create_btn {
  margin-top: 10px;
  float: right;
  width: 90px;
  height: 30px;
  display: block;
  margin-left: 10px;
  background: white;
  color: black;
  font-family: "Times New Roman";
  font-weight: bold;
  border-radius: 10px;
}

.log_btn {
  margin-top: 10px;
  float: right;
  width: 90px;
  height: 30px;
  display: block;
  background: rgba(246, 193, 142, 0.9);
  color: black;
  font-family: "Times New Roman";
  font-weight: bold;
  border-radius: 10px;
}
